#ETL librerias

In [ ]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import scatter_matrix

#Carga de archivos en un dataframe

In [ ]:
# Se cargan cada uno de los archivos de Excel en un DataFrame
df1 = pd.read_excel('1.xlsx')
df2 = pd.read_excel('2.xlsx')

# Obtener los títulos de las columnas del DataFrame

In [ ]:
# Obtener los títulos de las columnas del DataFrame
titulos_columnas1 = df1.columns
titulos_columnas2 = df2.columns
print("1: ", titulos_columnas1)
print("2 :", titulos_columnas2)

In [ ]:
# Imprime los tipos de datos de cada columna
print(df1.dtypes)
print(df1.info)

Identificaré los valores unicos por columnas

In [ ]:
def datos_unicos(datafram_analisis):
    for column in datafram_analisis.columns:
        unique_values = datafram_analisis[column].unique()
        respuesta= print(f"Valores únicos por columna '{column}':", unique_values)
    return respuesta

In [ ]:
datos_unicos(df1)

###EDA
revisando los datos podemos ver que se requieren algunas transformaciones

Cambio de puntos a comas para los datos numericos

In [ ]:
df1['Valor Total']  = df1['Valor Total'] .astype(str).str.replace('.', ',')
df1.head(5)

Revisamos las columnas numericas con un describe

In [ ]:
df1.describe() # describe las columnas numericas

Analisis de Correlaciones

In [ ]:
ValorMax= max(df1['Valor Total'])
ValorMin=min(df1['Valor Total'])
print("max: ", ValorMax, "minimo: ", ValorMin)

In [ ]:
# Filtrar valores que sean menores que 'accesolimite'
accesolimite = 100
df_filtered = df1graf1[df1graf1['Accesos Totales'] < accesolimite]

# Graficar el resultado
fig = plt.figure(figsize=(6,4))
sns.scatterplot(x='Trimestre', y='Accesos Totales', hue='Provincia', data=df_filtered)
#se filtra por provincia

plt.title('Grafico de dispersión entre año y accesos Totales')
plt.show()

In [ ]:
# cantidad de duplicados
column_names=df1.columns
n_duplicates=df1.drop(labels=column_names,axis=1).duplicated().sum
n_duplicates

In [ ]:
# describe las columnas numericas
df4.describe()

In [ ]:
datos_unicos(df1)

In [ ]:
# revisar los valores nulos
plt.figure(figsize=(10,8))
plt.imshow(df1.isna(),aspect="auto", 
           interpolation="nearest",cmap="Blues")
plt.xlabel("Columnas numericas")
plt.ylabel("Valores numericos")

In [ ]:
# selecciono solo las columnas numéricas
df_numeric = df1.select_dtypes(include=['int64', 'float64'])
# crea una matriz de gráficos de dispersión
scatter_matrix(df_numeric, figsize=(10, 10), diagonal='kde')

# muestra el gráfico
plt.show()

In [ ]:
df1['Año'] = df1['Año'].str.replace(' ', '')
df1['Año'] = df1['Año'].str.replace('*', '')
#df1['Año'] = df1['Año'].str.replace('*', '0')
df1['Trimestre'] = df1['Trimestre'].str.replace('*', '')
df1['Año'] = df1['Año'].str.strip()
df1['Trimestre'] = df1['Trimestre'].str.strip()
df1['Año'] = pd.to_numeric(df1['Año'], errors='coerce').fillna(0).astype(int) # Convertir valores restantes a números enteros
df1['Trimestre'] = pd.to_numeric(df1['Trimestre'], errors='coerce').fillna(0).astype(int) # Convertir valores restantes a números enteros
df1['Año'] = pd.to_numeric(df1['Año'], errors='coerce').fillna(0).astype(int) # Convertir valores restantes a números enteros

Renombrar columna

In [ ]:
df6 = df6.rename(columns={"Total": "Total_fijo_xtipo_provincia"})

Transformar el tipo de datos

In [ ]:
df6['ADSL'] = df6['ADSL'].astype('int64')
df6['Cablemodem'] = df6['Cablemodem'].astype('int64')
df6['Fibra óptica'] = df6['Fibra óptica'].astype('int64')
df6['Wireless'] = df6['Wireless'].astype('int64')
df6['Otros'] = df6['Otros'].astype('int64')

pd.to_numeric(df11["Año"], errors='coerce': Convierte la columna "Año" en valores numéricos..fillna(0): Reemplaza los valores NaN (que se generaron en el paso anterior) con el valor 0..astype(int): convierte todos los valores de la columna en enteros (int).

In [ ]:
df1["Año"] = pd.to_numeric(df1["Año"], errors='coerce').fillna(0).astype(int)

convertir la columna "Año" de un DataFrame en valores de tipo entero de 64 bits (int64).

In [ ]:
df1["Año"] = df1["Año"].astype("int64")

In [ ]:
# Crear una lista con los nombres de las columnas que contienen valores numéricos
columnas_numericas = df1.select_dtypes(include='number').columns.tolist()
print(columnas_numericas)

Transformaciones:
Reemplazo de los caracteres -0 a 0
convrtir a datos numeridoc
rellenar valores Nan por 0

In [ ]:
df11[columnas_Mbps] = df11[columnas_Mbps].replace('- 0', '0')
df11['Otros'] = pd.to_numeric(df11['Otros'], errors='coerce')
df11 = df11.fillna(0)

crear un gráfico de pares (pair plot) utilizando la biblioteca Seaborn en Python, se centra en las columnas numéricas de un DataFrame
Utiliza el método select_dtypes para incluir columnas que son de tipo 'int64' o 'float64'. Esto crea un nuevo DataFrame llamado df_numeric que contiene solo las columnas numéricas de df11.
df_numeric = df_numeric.apply(pd.to_numeric): Luego, se aplica la función pd.to_numeric a todas las columnas en el DataFrame df_numeric. Esto se hace para asegurarse de que todas las columnas numéricas se traten como números en lugar de objetos de texto. En caso de que haya algún valor no numérico en estas columnas, se convertirá en NaN.
sns.pairplot(df_numeric, diag_kind='kde'): Aquí es donde se crea el gráfico de pares, se utiliza para mostrar la distribución de cada variable en la diagonal del gráfico en forma de estimaciones de densidad de kernel (kde), lo que proporciona una representación visual de la distribución de los datos.

In [ ]:
df_numeric = df11.select_dtypes(include=['int64', 'float64'])
df_numeric = df_numeric.apply(pd.to_numeric)
sns.pairplot(df_numeric, diag_kind='kde')
plt.show()

In [ ]:
# Crear una columna nueva que sume todos los Mbps en una sola columna
df11.fillna(value=0, inplace=True)
columnas_Mbps = [col for col in df11.columns if 'Mbps' in col]
df11['Suma_Mb'] = df11[columnas_Mbps].sum(axis=1)
df11["Suma_Mb"] = df11["Suma_Mb"].astype(np.int64)
print(df11)

agregar una nueva columna llamada 'Count_Suma_Mb' al DataFrame df11 y calcula el número de valores en las columnas especificadas por columnas_Mbps que son mayores que cero para cada fila en el DataFrame.

In [ ]:
df11['Count_Suma_Mb'] = df11.apply(lambda row: (row[columnas_Mbps] > 0).sum(), axis=1)
print(df11['Count_Suma_Mb'] )

Eliminar algunas columnas no necesarias

In [ ]:
# Eliminar las columnas que contienen 'Mbps' en su título
columnas_eliminar = [col for col in df11.columns if 'Mbps' in col]
df11 = df11.drop(columns=columnas_eliminar)

In [ ]:
# Merge de los primeros dos dataframes
merged_df = pd.merge(df1, df4, on=["Año", "Trimestre", "Provincia"], how="outer")

In [ ]:
# Convertir todas las cadenas de texto a minúsculas
merged_df = merged_df.applymap(lambda s: s.lower() if isinstance(s, str) else s)
merged_df.columns = merged_df.columns.str.lower()

Guardar en un archivo de texto

In [ ]:
merged_df.to_csv("datos_provincias.csv", index=False)

Borrar duplicados

In [ ]:
# cantidad de duplicados
column_names=merged_df.columns
n_duplicates=merged_df.drop(labels=column_names,axis=1).duplicated().sum
n_duplicates

# graficar y ver correlaciones

In [ ]:
df_numeric = merged_df.select_dtypes(include=['int64', 'float64'])
df_numeric = df_numeric.apply(pd.to_numeric)
sns.pairplot(df_numeric, diag_kind='kde')
plt.show()

In [ ]:
#Valores faltantes por columna
merged_df.isna().mean().sort_values().plot(
    kind="bar", figsize=(15,4),
    title="Porcentaje de valores faltantes por columna",
    ylabel="Relación de valores perdidos por columna")

crear una lista de nombres de columnas que contienen tipos de datos de objeto (generalmente, cadenas de texto) categorias

In [ ]:
string_columns13 = list(df13.select_dtypes(include='object').columns)
print(string_columns13)

busco las columnas que continen una cadena de caracteres especifica

In [ ]:
columnas_Mbps = [col for col in df13.columns if 'mbps' in col]
df13[columnas_Mbps] = df13[columnas_Mbps].fillna(0)

In [ ]:
# lista con los nombres de las columnas a modificar
columnas_mbMal = ['0,5 mbps', '0,75 mbps', '1 mbps', '1,5 mbps', '2 mbps', '3 mbps', '3,5 mbps', '4 mbps', '5 mbps', '6 mbps', '7 mbps', '8 mbps', '9 mbps', '10 mbps', '12 mbps', '15 mbps', '16 mbps', '18 mbps', '20 mbps', '24 mbps', '25 mbps', '30 mbps', '40 mbps', '50 mbps', '60 mbps', '70 mbps', '75 mbps', '100 mbps']

# aplicar la función pd.to_numeric a las columnas de la lista
df13[columnas_mbMal] = df13[columnas_mbMal].apply(pd.to_numeric, errors='coerce').fillna(0)

busco las columnas con tipo de datos string

In [ ]:
string_columns13 = list(df13.select_dtypes(include='object').columns)
print(string_columns13)

In [ ]:
#borro columna que no me interesa
df13 = df13.drop('Link Indec', axis=1)

In [ ]:
# Definimos las columnas a convertir
columnas = ['Adsl', 'Cablemodem', 'Dial up', 'Fibra optica', 'Otros', 'Satelital', 'Wimax', 'Wireless','Total general']

df14[columnas] = df14[columnas].replace('- 0', 0)

In [ ]:
#Coloco la primera letra mayuscula en las columnas del dataframe ( no es practico pero asi es la instrucción)
df14.columns = df14.columns.str.capitalize()
# Convertir los títulos de las columnas a minúsculas
merged_df_conectividad.columns = merged_df_conectividad.columns.str.lower()

# Convertir todas las cadenas de texto a minúsculas
merged_df_conectividad = merged_df_conectividad.applymap(lambda s: s.lower() if isinstance(s, str) else s)
merged_df_conectividad.columns = merged_df_conectividad.columns.str.lower()

In [ ]:
# Iteramos sobre las columnas y las convertimos a tipo int64
for col in columnas:
    
    df14[col] = df14[col].astype('int64')
    
# Imprimimos el DataFrame resultante
print(df14.head(3))

Otras transformaciones

In [ ]:
columnas = ['Adsl', 'Cablemodem', 'Dialup', 'Fibraoptica', '4g', '3g','Telefoniafija','Wireless','Satelital']
df15[columnas] = df15[columnas].replace('--', 0)
df15[columnas] = df15[columnas].replace('SI', 1)
df15[columnas] = df15[columnas].astype('int64')
df16['Latitud'] = pd.to_numeric(df16['Latitud'].str.replace(',', '.').replace(r'\.+', '.', regex=True))
df16['Longitud'] = pd.to_numeric(df16['Longitud'].str.replace(',', '.').replace(r'\.+', '.', regex=True))
df16['Latitud'] = pd.to_numeric(df16['Latitud'])
df16['Longitud'] = pd.to_numeric(df16['Longitud'])

In [ ]:
# selecciono solo las columnas numéricas
df_numeric = merged_df_conectividad.select_dtypes(include=['int64', 'float64'])
# crea una matriz de gráficos de dispersión
scatter_matrix(df_numeric, figsize=(10, 10), diagonal='kde')

# muestra el gráfico
plt.show()

Una vez organizadas las bases de datos se procede a continuar con el EDA en power bi

In [ ]:
merged_df_conectividad.to_csv(r'E:/DataScience/Labs/PI-2/datos_conectividad.csv', index=False)